name: CI

on:
  push:
    branches-ignore:
      - 'release-*'
    tags-ignore:
      - '*.*'

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        k8s: [v1.12.10, v1.13.10, v1.14.6, v1.15.3, v1.16.3, v1.17.0]
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Set up Docker Buildx
      id: buildx
      uses: crazy-max/ghaction-docker-buildx@v1
      with:
        version: latest

    - name: Available platforms
      run: echo ${{ steps.buildx.outputs.platforms }}

    - name: Run checks
      run: |
        sudo apt-get -qq update || true
        sudo apt-get install -y bzr
        make ci

    - name: Create Kubernetes ${{ matrix.k8s }} cluster
      id: kind
      uses: engineerd/setup-kind@v0.1.0
      with:
        version: v0.7.0
        config: hack/kubernetes/kind.yaml
        image: kindest/node:${{ matrix.k8s }}

    - name: Prepare cluster for testing
      id: local-path
      env:
        DOCKER_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        USERNAME: 1gtm
        REGISTRY_SECRET: regcred
      run: |
        echo "waiting for nodes to be ready ..."
        kubectl wait --for=condition=Ready nodes --all --timeout=5m
        kubectl get nodes
        echo
        kubectl version
        echo
        echo "installing local-path provisioner ..."
        kubectl delete storageclass --all
        kubectl apply -f https://github.com/rancher/local-path-provisioner/raw/v0.0.12/deploy/local-path-storage.yaml
        kubectl wait --for=condition=Ready pods -n local-path-storage --all --timeout=5m
        kubectl apply -f hack/kubernetes/storageclass/standard.yaml
        echo
        echo "create docker-registry secret"
        kubectl create secret docker-registry ${REGISTRY_SECRET} --namespace=kube-system --docker-server=https://index.docker.io/v1/ --docker-username=${USERNAME} --docker-password=${DOCKER_TOKEN}

    - name: Install CRDs
      run: |
        kubectl create --validate=false -f https://github.com/stashed/apimachinery/raw/master/api/crds/stash.appscode.com_functions.yaml
        kubectl create --validate=false -f https://github.com/stashed/apimachinery/raw/master/api/crds/stash.appscode.com_tasks.yaml
        kubectl wait --for=condition=NamesAccepted crds --all --timeout=5m

    - name: Test Helm 3
      run: |
        ./deploy/helm3.sh
        ./deploy/helm3.sh --uninstall

    - name: Test script installer
      run: |
        ./deploy/script.sh
        ./deploy/script.sh --uninstall

    - name: Setup Helm 2
      run: |
        helm version
        kubectl -n kube-system create sa tiller
        kubectl create clusterrolebinding tiller --clusterrole cluster-admin --serviceaccount=kube-system:tiller
        helm init --service-account tiller
        kubectl wait --for=condition=Ready pods -n kube-system --all --timeout=5m

    - name: Test Helm 2
      run: |
        ./deploy/helm2.sh
        ./deploy/helm2.sh --uninstall
