name: Release

on:
  push:
    tags:
      - '*.*'

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Clone charts repository
      env:
        GITHUB_TOKEN: ${{ secrets.LGTM_GITHUB_TOKEN }}
      run: |
        cd $HOME
        git clone https://1gtm:${GITHUB_TOKEN}@github.com/appscode/charts.git
        cd charts
        git config user.name "1gtm"
        git config user.email "1gtm@appscode.com"

    - name: Install Helm 3
      run: |
        echo "install helm 3"
        curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash

    - name: Create pull request
      env:
        GITHUB_TOKEN: ${{ secrets.LGTM_GITHUB_TOKEN }}
      run: |
        export CHART_REPO_ROOT=$HOME/charts
        ./hack/package.sh
        pushd $CHART_REPO_ROOT
        curl -fsSL https://github.com/github/hub/raw/master/script/get | bash -s 2.14.1
        bin/hub pull-request -m "Update Stash addons charts"
        popd
